/*
ДЗ 2
Пропиши стилі для body (font-family, color та background-color)
CSS-правила для скидання дефолтного підкреслення для посилань та маркерів у списках.
*/
/*
ДЗ 3
Обнули дефолтні маржини від браузера для:
— заголовків та параграфів тексту

— для списків потрібно обнулити дефолтні маржини та лівий падінг

Зроби зображення блочними елементами
Визнач ширину та падінги для контейнера та пропиши їх у CSS-файлі: .container



Для розташування елементів використовується Flexbox, 
але тільки там, де це необхідно. 
Наприклад у шапці, навігації, списках в секціях тощо, тобто там, 
де розташувати елементи горизонтально по-іншому неможливо.
*/
*,*::after,*::before {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #434455;
    background-color: #fff;

}
h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    
}
p {
    margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}
/**/
img {
    display: block;
    max-width: 100%;
}
.thumb img {
    
   
    object-fit: cover;
}
/**/

.container { 
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    /**/
    border: 1px dashed green;
    }

/* Header */
/* У хедера є нижня рамка, необхідно сильно наблизити макет, щоб побачити її. */
.page-header .container {
    border-bottom: 1px solid #E7E9FC;
    display:flex;
    padding: 24px 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    border: 1px dashed violet;
    margin-left: 156px;
}
.logo span {
    color:#2e2f42;
}

.top-menu {
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    /*
    justify-content: space-between;
    justify-items: center;
    */
    gap: 40px;
    margin-left: 76px;
}
.top-menu .top-menu-item{
    color:#2E2F42;
    display: block;
    padding: 0 10px;
    border: 1px dashed red;
}

.top-menu a:hover, .top-menu a:focus {
    color: #404BBF;
} 
.menu-contacts {
    font-style: normal;
    display: flex;
    margin-left: 332px;
    gap: 40px;
}
.menu-contacts .contacts-item {
    letter-spacing: 0.02em;
    display: flex;
    border: 1px dashed blue;
    
}
.menu-contacts a:hover, .menu-contacts a:focus {
    color: #404BBF;
} 

/* 
Main ->
Section main-page 
*/
/**/
.section {
    text-align: center;
    letter-spacing: 0.02em;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0;
    
}
/**/

main .section:first-child {
     background-color: #2E2F42;
     width: 100%;
}

.section .main-page-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    width: 496px;
    margin: 0 auto;
   
}
.section .main-button {
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    margin-top: 68px;
    padding: 16px 32px;
    border:none;
    border-radius: 4px;
}
.section .main-button:hover, .section .main-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* 
Main ->
Section our-benefits
*/
.section .section-header {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2E2F42;
}

.section .our-benefits-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.section .our-benefits-paragraph{
    color:#434455;
    letter-spacing: 0.02em;
}

/* 
Main ->
Section our-team 
*/

.section {
    background-color: #F4F4FD;
}
.section .section-header {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2E2F42;
}

.section li{
    background-color: #fff;   
}

.section .our-team-header{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.section .our-team-paragraph{
    color:#434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}

/*
Main ->
Section our-portfolio
*/

.section{
    color:#434455;
    font-size: 36px;
    line-height: 1.11;

}
/*.our-portfolio .our-porfolio-item{
    border-bottom: 1px solid grey;
}
*/
.section .section-header {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2E2F42;
}
.section .our-porfolio-item-header{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.section .our-porfolio-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    
}

/* Footer */

.page-footer{
    color: #F4F4FD;
    background-color: #2E2F42;
}

.page-footer .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-footer .logo .logo-studio {
    color:#f4f4fd
}
.page-footer .footer-paragraph {
    letter-spacing: 0.02em;
}